
/*------------------------------------
- COLOR line
------------------------------------*/
.alert-line {
    color: #0b5200;
    background-color: #a8ff9a;
    border-color: #96ff85;
}

.alert-line hr {
    border-top-color: #80ff6c;
}

.alert-line .alert-link {
    color: #041f00;
}

.badge-line {
    color: #fff;
    background-color: #1dcd00;
}

.badge-line[href]:hover, .badge-line[href]:focus {
    color: #fff;
    background-color: #159a00;
}

.bg-line {
    background-color: #1dcd00 !important;
}

a.bg-line:hover, a.bg-line:focus,
button.bg-line:hover,
button.bg-line:focus {
    background-color: #159a00 !important;
}

.border-line {
    border-color: #1dcd00 !important;
}

.btn-line {
    color: #fff;
    background-color: #1dcd00;
    border-color: #1dcd00;
}

.btn-line:hover {
    color: #fff;
    background-color: #17a900;
    border-color: #159a00;
}

.btn-line:focus, .btn-line.focus {
    box-shadow: 0 0 0 0.2rem rgba(29, 205, 0, 0.5);
}

.btn-line.disabled, .btn-line:disabled {
    color: #fff;
    background-color: #1dcd00;
    border-color: #1dcd00;
}

.btn-line:not(:disabled):not(.disabled):active, .btn-line:not(:disabled):not(.disabled).active, .show > .btn-line.dropdown-toggle {
    color: #fff;
    background-color: #159a00;
    border-color: #138a00;
}

.btn-line:not(:disabled):not(.disabled):active:focus, .btn-line:not(:disabled):not(.disabled).active:focus, .show > .btn-line.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(29, 205, 0, 0.5);
}

.btn-outline-line {
    color: #1dcd00;
    background-color: transparent;
    border-color: #1dcd00;
}

.btn-outline-line:hover {
    color: #fff;
    background-color: #1dcd00;
    border-color: #1dcd00;
}

.btn-outline-line:focus, .btn-outline-line.focus {
    box-shadow: 0 0 0 0.2rem rgba(29, 205, 0, 0.5);
}

.btn-outline-line.disabled, .btn-outline-line:disabled {
    color: #1dcd00;
    background-color: transparent;
}

.btn-outline-line:not(:disabled):not(.disabled):active, .btn-outline-line:not(:disabled):not(.disabled).active, .show > .btn-outline-line.dropdown-toggle {
    color: #fff;
    background-color: #1dcd00;
    border-color: #1dcd00;
}

.btn-outline-line:not(:disabled):not(.disabled):active:focus, .btn-outline-line:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-line.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(29, 205, 0, 0.5);
}

.list-group-item-line {
    color: #0b5200;
    background-color: #96ff85;
}

.list-group-item-line.list-group-item-action:hover, .list-group-item-line.list-group-item-action:focus {
    color: #0b5200;
    background-color: #80ff6c;
}

.list-group-item-line.list-group-item-action.active {
    color: #fff;
    background-color: #0b5200;
    border-color: #0b5200;
}

.table-line,
.table-line > th,
.table-line > td {
    background-color: #96ff85;
}

.table-hover .table-line:hover {
    background-color: #80ff6c;
}

.table-hover .table-line:hover > td,
.table-hover .table-line:hover > th {
    background-color: #80ff6c;
}

.text-line {
    color: #1dcd00 !important;
}

a.text-line:hover, a.text-line:focus {
    color: #159a00 !important;
}
