{% extends "layout.html" %}
{% block page_name %}about{% endblock %}
{% block title %}About{% endblock %}

{% block content %}
<h2>About</h2>
<div>
    <h3>「ネップリ共有サイト(β)」とは？</h3>
    <p>セブンイレブン・ファミリーマート・ローソンの各コンビニで提供されるネットプリントを共有するためのポータルサイトを目指し、2022年5月から開発されています。</p>
</div>
<div>
    <h4>Developer Info</h4>
    <p>
        <a href="https://github.com/glyzinieh/share-neppuri" target="_blank" rel="noopener noreferrer">Githubリポジトリ</a><br>
        <a href="https://qiita.com/glyzinieh/private/16111916b39ca5048736" target="_blank" rel="noopener noreferrer">開発秘話</a><br>
        <a href="https://lit.link/wisteriatp" target="_blank" rel="noopener noreferrer">うぃすたりあ</a>
        
    </p>

</div>
<div>
    <h3>Future</h3>
    <ul>
        <li>サービス名決定</li>
        <li>アカウント機能</li>
        <li>検索方法の拡充</li>
        <li>有効期限の設定</li>
        <li>複数画像への対応</li>
        <li>リアクション機能</li>
    </ul>
</div>
<div>
    <h3>History</h3>
    <table class="table table-bordered">
        <tr>
            <td>2022.05.17</td>
            <td>β版開発開始</td>
        </tr>
    </table>
</div>
{% endblock %}