{% extends "layout.html" %}
{% block page_name %}about{% endblock %}
{% block title %}About{% endblock %}

{% block head %}
<meta name="description" content="
ネップリの共有なら、NePriS（ネプリス）で！
">
<meta property="og:url" content="{{ url_for('about', _external=True) }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="ネップリの共有なら、NePriS（ネプリス）で！" />
<meta property="og:image" content="{{ url_for('static', filename='img/logo2.png', _external=True) }}" />
{% endblock %}

{% block content %}
<h2>About</h2>
<div>
    <h3>「ネプリス(NePriS)」とは？</h3>
    <p>セブンイレブン・ファミリーマート・ローソンの各コンビニで提供されるネットプリントを共有するためのポータルサイトを目指し、2022年5月から開発されています。</p>
</div>
<div>
    <h3>Develope</h3>
    <p>
        <a href="https://github.com/glyzinieh/nepris" target="_blank" rel="noopener noreferrer">Githubリポジトリ</a><br>
        <a href="https://twitter.com/nepr1s" target="_blank" rel="noopener noreferrer">公式Twitter</a><br>
        <a href="https://qiita.com/glyzinieh/private/16111916b39ca5048736" target="_blank"
            rel="noopener noreferrer">開発秘話</a>
    </p>
    <h4>Developer</h4>
    <p>
        <a href="https://lit.link/wisteriatp" target="_blank" rel="noopener noreferrer">うぃすたりあ</a>
    </p>
    <h4>Designer</h4>
    <p>
        ロゴマークなどの制作を担当<br>
        <a href="https://twitter.com/kamome_nine" target="_blank" rel="noopener noreferrer">鴎</a>
    </p>

</div>
<div>
    <h3>History</h3>
    <table class="table table-bordered">
        <tr>
            <td>2022.05.17</td>
            <td>β版開発開始</td>
        </tr>
    </table>
</div>
{% endblock %}