{% extends "layout.html" %}
{% block page_name %}contact{% endblock %}
{% block page_title %}Contact{% endblock %}

{% block head %}
<meta name="description" content="
NePriS（ネプリス）へのご意見・ご要望などはこちらから
">
<meta property="og:url" content="{{ url_for('contact', _external=True) }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="NePriS（ネプリス）へのご意見・ご要望などはこちらから" />
<meta property="og:image" content="{{ url_for('static', filename='img/logo2.png', _external=True) }}" />
{% endblock %}

{% block content %}
<h2>Contact</h2>
<p>ご意見・ご要望などはこちらからお寄せください。</p>
<h3>Eメール</h3>
<p>
    返信が必要な場合はこちらからお問い合わせください。<br>
    <a href="mailto:wisteriatp+nepris@gmail.com">wisteriatp+nepris@gmail.com</a>
</p>
<h3>Googleフォーム</h3>
<p>
    <a href="https://forms.gle/UidibgS6PdavU3RE7" target="_blank" rel="noopener noreferrer">こちら</a>からお問い合わせください。<br>
    ※返信できませんのでご注意ください。
</p>
<h3>Github</h3>
<p>
    技術的な問題の場合は<a href="https://github.com/glyzinieh/share-neppuri/discussions" target="_blank" rel="noopener noreferrer">こちら</a>からもお問い合わせいただけます。<br>
    ※Githubアカウントが必要です。
</p>
{% endblock %}