{% extends "layout.html" %}
{% block page_name %}contact{% endblock %}
{% block title %}Contact{% endblock %}

{% block content %}
<h2>Contact</h2>
<p>ご意見・ご要望などはこちらからお寄せください。</p>
<form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfazq7sTbok_7s2gEmY66sha-rEBM_k-Iyod7mV7FGFbjXVzA/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
    <div class="form-group">
        <label>メールアドレス(任意)</label>
        <input type="email" class="form-control" name="entry.2140259452">
    </div>
    <div class="form-group">
        <label>お問い合わせ内容(必須)</label>
        <textarea rows="5" class="form-control" name="entry.1607793954" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">送信</button>
</form>
<script type="text/javascript">
    let submitted=false;

    function page_transition() {
        if(submitted){
            window.location = '/contact/thanks/'
        }    
    }
</script>
<iframe name="hidden_iframe" style="display:none;" onload="page_transition()"></iframe>
{% endblock %}