{% extends "layout.html" %}

{% block title %}{{ error.name }}エラー{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h2>{{ error.name }}</h2>
<p>
    {{ msg }}<br>
    {{ error.description }}<br>
    エラーコード：{{ error.name }}
</p>
<p>
    お問い合わせは<a href="{{ url_for('contact') }}">こちら</a>から<b>エラーが発生した状況</b>と<b>エラーコード</b>を送信してください。
</p>
<p>
    <a class="btn btn-primary" href="#" onclick="history.back(); return false;" role="button">前のページに戻る</a> 
    <a class="btn btn-primary" href="{{ url_for('index') }}" role="button">Home</a>
</p>
{% endblock %}