<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}{% endblock %}｜ネップリ共有サイト</title>
        <link rel="stylesheet" href="static/css/layout_style.css">
    </head>
    <body>
        <header>
            <h1><a href="/">ネップリ共有サイト</a></h1>
            <nav class="gnav">
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>