<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- UTF-8に指定 -->
        <meta charset="utf-8">
        <!-- viewportを設定 -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Bootstrapを読み込み -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- フォントを読み込み -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
        <!-- Google Search Console -->
        <meta name="google-site-verification" content="byLrHZ5BNJnMVg_DpxNwJQ6mgTutlQjrwErNgzCA6Dc" />

        <!-- cssを読み込み -->
        <link rel="stylesheet" href="/static/css/layout.css">
        <!-- titleを設定 -->
        <title>{% block title %}{% endblock %}｜ネップリ共有サイト(β)</title>
        <!-- faviconを指定 -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand navbar-dark bg-info fixed-top">
                <a href="#" class="navbar-brand">ネップリ共有サイト(β)</a>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/about/" class="nav-link active">About</a></li>
                    <li class="nav-item"><a href="/privacy-policy/" class="nav-link">Privacy-Policy</a></li>
                </ul>
            </nav>
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>

        <!-- Bootstrapを読み込み -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>