<!DOCTYPE html>
<html>
    <head>
        <!-- UTF-8に指定 -->
        <meta charset="utf-8">
        <!-- viewportを設定 -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- titleを設定 -->
        <title>{% block title %}{% endblock %}｜ネップリ共有サイト(β)</title>
        <!-- cssを読み込み -->
        <link rel="stylesheet" href="/static/css/layout.css">
        <!-- フォントを読み込み -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>ネップリ共有サイト(β)</h1>
            <nav class="gnav">
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>