{% extends "layout.html" %}
{% block page_name %}privacy{% endblock %}
{% block page_title %}プライバシーポリシー{% endblock %}
{% block title %}プライバシーポリシー{% endblock %}


{% block head %}
<meta name="description" content="
NePriS（ネプリス）はお客様の個人情報を大切にしています。
">
<meta property="og:url" content="{{ url_for('privacy', _external=True) }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="NePriS（ネプリス）はお客様の個人情報を大切にしています。" />
<meta property="og:image" content="{{ url_for('static', filename='img/logo2.png', _external=True) }}" />
<meta name="twitter:description" content="NePriS（ネプリス）はお客様の個人情報を大切にしています。">
{% endblock %}

{% block content %}
<h2>プライバシーポリシー</h2>

<h3>重要事項</h3>
<p>
    当サイトは、β版開発中です。個人を特定する情報は送らないでください。
</p>
{% endblock %}