{% extends "layout.html" %}

{% block title %}Record{% endblock %}

{% block head %}
<meta name="description" content="
ネップリの登録はこちらから
">
<meta property="og:url" content="{{ url_for('record', _external=True) }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Record" />
<meta property="og:description" content="ネップリの登録はこちらから" />
<meta property="og:image" content="{{ url_for('static', filename='img/logo2.png', _external=True) }}" />
<meta name="twitter:description" content="ネップリの登録はこちらから">
{% endblock %}

{% block content %}
<h2>Record</h2>
<p>現在、セブンイレブン・ファミリーマート・ローソンのネットプリントにのみ対応しております。</p>
<form class="needs-validation" action="/record/thanks/" method="post" enctype="multipart/form-data" novalidate>
    <div class="mb-3">
        <label for="email" class="form-label">メールアドレス<span class="badge bg-danger">必須</span></label>
        <input type="email" class="form-control"id="email" name=email required>
        <div class="invalid-feedback">有効なメールアドレスを入力してください。</div>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">ニックネーム<span class="badge bg-danger">必須</span></label>
        <input type="text" class="form-control" id="name" name=name required>
        <div class="invalid-feedback">必須項目です。</div>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">タイトル<span class="badge bg-danger">必須</span></label>
        <input type="text" class="form-control" id="title" name=title required>
        <div class="invalid-feedback">必須項目です。</div>
    </div>
    <div class="mb-2">
        <label for="image" class="form-label">画像<span class="badge bg-danger">必須</span></label>
        <input type="file" class="form-control" id="image" onChange="imgPreView(event); img_check();" name=image accept="image/*" required>
        <div class="invalid-feedback">500KB以下の画像を選択してください。</div>
    </div>
	<div class="mb-3">
		<div id="preview"></div>
		<script>
            function imgPreView(event) {
                var file = event.target.files[0];
                var reader = new FileReader();
                var preview = document.getElementById("preview");
                var previewImage = document.getElementById("previewImage");
                 
                if(previewImage != null) {
					preview.removeChild(previewImage);
                }
                reader.onload = function(event) {
					var img = document.createElement("img");
					img.setAttribute("src", reader.result);
					img.setAttribute("id", "previewImage");

					img.setAttribute("class","img-fluid border border-2")
					img.setAttribute("max-width","100%");
					img.setAttribute("height","auto");
					preview.appendChild(img);
                };
               
                reader.readAsDataURL(file);
            }
        </script>
	</div>
    <div class="mb-3">
        <label for="date" class="form-label">有効期限<span class="badge bg-danger">必須</span></label>
        <input type="date" class="form-control" id="date" name=date required>
        <div class="invalid-feedback">必須項目です。</div>
    </div>
    <div class="mb-3">
        <label for="note" class="form-label">備考<span class="badge bg-info text-dark">任意</span></label>
        <div id="note-help" class="form-text">作品の紹介や用紙サイズなどをご入力ください。マークダウンが利用できます。</div>
        <textarea class="form-control" id="note" rows="10" maxlength="1000" aria-describedby="note-help" name=note></textarea>
        <!-- SimpleMDEの読み込み -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script>
            var simplemde = new SimpleMDE({
                element: document.getElementById("note"),
                forceSync: true,
                spellChecker: false,
                toolbar: [
                "bold","italic","strikethrough","heading","|",
                "code","quote","unordered-list","ordered-list","|",
                "link","image","table","horizontal-rule","|",
                "preview","guide"
                ]
            });
        </script>
    </div>
    <div class="mb-1">
        <label>予約番号<span class="badge bg-danger">どちらか必須</span></label>
        <div class="form-text">両方入力も可能です。</div>
    </div>
    <div class="mb-1">
        <label for="no_seven" class="form-label">セブンイレブン</label>
        <input type="text" class="form-control" id="no_seven" name=no_seven pattern="[0-9A-Z]{8}" onInput="no_check(this);" required="required">
        <div class="invalid-feedback">大文字英数字 8文字で入力してください。</div>
    </div>
	<div class="mb-3">
		<label for="no_family" class="form-label">ファミリーマート・ローソン</label>
        <input type="text" class="form-control" id="no_family" name=no_family pattern="[0-9A-Z]{10}" onInput="no_check(this);"  required="required">
        <div class="invalid-feedback">大文字英数字 10文字で入力してください。</div>
	</div>
    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" id="agreement" name="agreement" required>
        <label class="form-check-label" for="agreement"><a href="{{ url_for('tos') }}">利用規約・プライバシーポリシー</a>を確認し同意します。</label>
        <div class="invalid-feedback">サービスをご利用いただくには、利用規約・プライバシーポリシーにご同意いただく必要があります。</div>
    </div>
    <button type="submit" class="btn btn-primary">登録</button>
</form>
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
{% endblock %}