{% extends "layout.html" %}
{% block page_name %}tos{% endblock %}
{% block title %}利用規約{% endblock %}


{% block head %}
<meta name="description" content="
NePriS（ネプリス）はお客様の個人情報を大切にしています。
">
<meta property="og:url" content="{{ url_for('tos', _external=True) }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="利用規約" />
<meta property="og:description" content="NePriS（ネプリス）はお客様の個人情報を大切にしています。" />
<meta property="og:image" content="{{ url_for('static', filename='img/logo2.png', _external=True) }}" />
<meta name="twitter:description" content="NePriS（ネプリス）はお客様の個人情報を大切にしています。">
{% endblock %}

{% block content %}
<h2>Terms Of Service</h2>
本サービスを利用いただくには、以下の内容に同意いただく必要があります。

<h3>目次</h3>
<ul>
    <li><a href="#tos">利用規約</a></li>
    <li><a href="#privacy">プライバシーポリシー</a></li>
    <li><a href="#update">更新履歴</a></li>
</ul>

<h3 id="tos">利用規約</h3>
<p>
	本利用規約（以下「本規約」と言います。）には、本サービスの提供条件及び提供者と利用者の皆様との間の権利義務関係が定められています。
	本サービスの利用に際しては、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。
</p>

<h4>第1条（適用）</h4>
<ol>
	<li>
		本規約は、本サービスの提供条件及び本サービスの利用に関する提供者と利用者との間の権利義務関係を定めることを目的とし、
		利用者と提供者との間の本サービスの利用に関わる一切の関係に適用されます。
	</li>
	<li>
		本規約の内容と、他の本規約外における本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。
	</li>
</ol>

<h4>第2条（定義）</h4>
<p>
	本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。
</p>
<ul>
	<li>
		「サービス利用契約」とは、本規約を契約条件として提供者と利用者の間で締結される、本サービスの利用契約を意味します。
	</li>
	<li>
		「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、またはそれらの権利につき登録等を出願する権利を含みます。）を意味します。
	</li>
	<li>
		「投稿データ」とは、利用者が本サービスを利用して投稿その他送信するコンテンツ（文章、画像、動画その他のデータを含みますがこれらに限りません。）を意味します。
	</li>
	<li>
		「提供者」とは、NePriS（ネプリス）を意味します。
	</li>
	<li>
		「本サービス」とは、提供者が提供するNePriS（ネプリス）という名称のサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含みます。）
		を意味します。
	</li>
</ul>

<h4>第3条（禁止事項）</h4>
<p>
	利用者は、本サービスの利用にあたり、以下の各号のいずれかに該当する行為または該当すると提供者が判断する行為をしてはなりません。
</p>
<ul>
	<li>
		法令に違反する行為または犯罪行為に関連する行為
	</li>
	<li>
		提供者、本サービスの他の利用者またはその他の第三者に対する詐欺または脅迫行為
	</li>
	<li>
		公序良俗に反する行為
	</li>
	<li>
		提供者、本サービスの他の利用者またはその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為
	</li>
	<li>
		本サービスを通じ、以下に該当し、または該当すると提供者が判断する情報を提供者または本サービスの他の利用者に送信すること
		<ul>
			<li>
				過度に暴力的または残虐な表現を含む情報
			</li>
			<li>
				コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報
			</li>
			<li>
				提供者、本サービスの他の利用者またはその他の第三者の名誉または信用を毀損する表現を含む情報
			</li>
			<li>
				過度にわいせつな表現を含む情報
			</li>
			<li>
				差別を助長する表現を含む情報
			</li>
			<li>
				自殺、自傷行為を助長する表現を含む情報
			</li>
			<li>
				薬物の不適切な利用を助長する表現を含む情報
			</li>
			<li>
				反社会的な表現を含む情報
			</li>
			<li>
				他人に不快感を与える表現を含む情報
			</li>
		</ul>
	</li>
	<li>
		本サービスのネットワークまたはシステム等に過度な負荷をかける行為
	</li>
	<li>
		提供者が提供するソフトウェアその他のシステムに対するリバースエンジニアリングその他の解析行為
	</li>
	<li>
		本サービスの運営を妨害するおそれのある行為
	</li>
	<li>
		提供者のネットワークまたはシステム等への不正アクセス
	</li>
	<li>
		第三者に成りすます行為
	</li>
	<li>
		提供者、本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為
	</li>
	<li>
		反社会的勢力等への利益供与
	</li>
	<li>
		面識のない異性との出会いを目的とした行為
	</li>
	<li>
		前各号の行為を直接または間接に惹起し、または容易にする行為
	</li>
	<li>
		前各号の行為を試みること
	</li>
	<li>
		その他、提供者が不適切と判断する行為
	</li>
</ul>

<h4>第4条（本サービスの停止等）</h4>
<p>
	提供者は、以下のいずれかに該当する場合には、利用者に事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。
</p>
<ul>
	<li>
		本サービスに係るコンピューター・システムの点検または保守作業を緊急に行う場合
	</li>
	<li>
		コンピューター、通信回線等の障害、誤操作、過度なアクセスの集中、不正アクセス、ハッキング等により本サービスの運営ができなくなった場合
	</li>
	<li>
		地震、落雷、火災、風水害、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合
	</li>
	<li>
		その他、提供者が停止または中断を必要と判断した場合
	</li>
</ul>

<h4>第5条（権利帰属）</h4>
<ol>
	<li>
		本サービスに関する知的財産権は全て提供者または本サービスにライセンスを許諾している者に帰属しており、本規約に基づく本サービスの利用許諾は、
		本サービスに関する提供者または本サービスにライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。
	</li>
	<li>
		利用者は、投稿データについて、自らが投稿その他送信することについての適法な権利を有していること、及び投稿データが第三者の権利を侵害していないことについて、
		提供者に対し表明し、保証するものとします。
	</li>
	<li>
		利用者は、投稿データについて、提供者に対し、世界的、非独占的、無償、サブライセンス可能かつ譲渡可能な使用、複製、配布、派生著作物の作成、表示及び実行に関するライセンスを付与します。
		また、他の利用者に対しても、本サービスを利用して利用者が投稿その他送信した投稿データの使用、複製、配布、派生著作物を作成、表示及び実行することについての
		非独占的なライセンスを付与します。
	</li>
	<li>
		利用者は、提供者及び提供者から権利を承継しまたは許諾された者に対して著作者人格権を行使しないことに同意するものとします。
	</li>
</ol>

<h4>第6条（登録抹消等）</h4>
<p>
	提供者は、利用者が、以下の各号のいずれかの事由に該当する場合は、事前に通知または催告することなく、投稿データを削除もしくは非表示にすることができます。
</p>
<ul>
	<li>
		本規約のいずれかの条項に違反した場合
	</li>
	<li>
		登録事項に虚偽の事実があることが判明した場合
	</li>
	<li>
		提供者からの問い合わせその他の回答を求める連絡に対して30日間以上応答がない場合
	</li>
	<li>
		その他、提供者が本サービスの利用を適当でないと判断した場合
	</li>
</ul>

<h4>第7条（本サービスの内容の変更、終了）</h4>
<ol>
	<li>
		提供者は、提供者の都合により、本サービスの内容を変更し、または提供を終了することができます。
	</li>
	<li>
		提供者が本サービスの提供を終了する場合、提供者は利用者に事前に通知するものとします。
	</li>
</ol>

<h4>第8条（保証の否認及び免責）</h4>
<ol>
	<li>
		提供者は、本サービスが利用者の特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有すること、
		利用者による本サービスの利用が利用者に適用のある法令または業界団体の内部規則等に適合すること、継続的に利用できること、及び不具合が生じないことについて、
		明示又は黙示を問わず何ら保証するものではありません。
	</li>
	<li>
		提供者は、本サービスに関して利用者が被った損害につき、付随的損害、間接損害、特別損害、将来の損害及び逸失利益にかかる損害については、賠償する責任を負わないものとします。
	</li>
	<li>
		本サービスに関連して利用者と他の利用者または第三者との間において生じた取引、連絡、紛争等については、利用者が自己の責任によって解決するものとします。
	</li>
</ol>

<h4>第9条（秘密保持）</h4>
<p>
	利用者は、本サービスに関連して提供者が利用者に対して秘密に取扱うことを求めて開示した非公知の情報について、提供者の事前の書面による承諾がある場合を除き、秘密に取扱うものとします。
</p>

<h4>第10条（利用者情報の取扱い）</h4>
<ol>
	<li>
		提供者による利用者の利用者情報の取扱いについては、別途<a href="#privacy">プライバシーポリシー</a>の定めによるものとし、
		利用者はこのプライバシーポリシーに従って提供者が利用者の利用者情報を取扱うことについて同意するものとします。
	</li>
	<li>
		提供者は、利用者が提供者に提供した情報、データ等を、個人を特定できない形での統計的な情報として、提供者の裁量で、利用及び公開することができるものとし、
		利用者はこれに異議を唱えないものとします。
	</li>
</ol>

<h4>第11条（本規約等の変更）</h4>
<p>
	提供者は、提供者が必要と認めた場合は、本規約を変更できるものとします。
	本規約を変更する場合、変更後の本規約の施行時期及び内容を本サービス上での掲示その他の適切な方法により周知し、または利用者に通知します。
	但し、法令上利用者の同意が必要となるような内容の変更の場合は、提供者所定の方法で利用者の同意を得るものとします。
</p>

<h4>第12条（連絡・通知）</h4>
<ol>
	<li>
		本サービスに関する問い合わせその他利用者から提供者に対する連絡または通知、及び本規約の変更に関する通知その他提供者から利用者に対する連絡または通知は、
		提供者の定める方法で行うものとします。
	</li>
	<li>
		提供者が、利用者が提供した情報に含まれるメールアドレスその他の連絡先に連絡または通知を行った場合、利用者は当該連絡または通知を受領したものとみなします。
	</li>
</ol>

<h4>第13条（サービス利用契約上の地位の譲渡等）</h4>
<ol>
	<li>
		利用者は、提供者の書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。
	</li>
	<li>
		提供者は本サービスにかかる事業を他者に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、
		本規約に基づく権利及び義務並びに利用者の登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、
		利用者は、かかる譲渡につき本項において予め同意したものとします。
		なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。
	</li>
</ol>

<h4>第14条（分離可能性）</h4>
<p>
	本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、
	本規約の残りの規定及び一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。
</p>

<h4>第15条（準拠法及び管轄裁判所）</h4>
<ol>
	<li>
		本規約及びサービス利用契約の準拠法は日本法とします。
	</li>
	<li>
		本規約またはサービス利用契約に起因し、または関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
	</li>
</ol>


<h3 id="privacy">プライバシーポリシー</h3>
<h4>基本方針</h4>
<p>
    NePriS（ネプリス）は、個人情報の重要性を認識し、
    個人情報を保護することが社会的責務であると考え、個人情報に関する法令を遵守し、
    当サイトで取扱う個人情報の取得、利用、管理を適正に行います。
</p>

<h4>適用範囲</h4>
<p>
    本プライバシーポリシーは、お客様の個人情報もしくはそれに準ずる情報を取り扱う際に、
    当サイトが遵守する方針を示したものです。
</p>

<h4>個人情報の利用目的</h4>
<p>
    当サイトは、お客様からご提供いただく情報を以下の目的の範囲内において利用します。
</p>
<p>
<ul>
    <li>ネップリを共有するサービスの提供のため</li>
    <li>お問い合わせ時等の本人確認のため</li>
    <li>各種お知らせ等の配布のため</li>
    <li>サービスの提供・改善・開発・マーケティングのため</li>
    <li>その他個別に承諾いただいた目的</li>
</ul>
</p>

<h4>個人情報の管理</h4>
<p>
    当サイトは、個人情報の正確性及び安全確保のために、セキュリティ対策を徹底し、
    個人情報の漏洩、改ざん、不正アクセスなどの危険については、
    必要かつ適切なレベルの安全対策を実施します。
</p>

<h4>個人情報の第三者提供</h4>
<p>
    当サイトは、以下を含む正当な理由がある場合を除き、
    個人情報を第三者に提供することはありません。
</p>
<p>
<ul>
    <li>ご本人の同意がある場合</li>
    <li>法令に基づく場合</li>
    <li>人の生命･身体･財産の保護に必要な場合</li>
    <li>公衆衛生・児童の健全育成に必要な場合</li>
    <li>国の機関等の法令の定める事務への協力の場合（税務調査、統計調査等）</li>
</ul>
</p>
<p>
    当サイトでは、利用目的の達成に必要な範囲内において、
    他の事業者へ個人情報を委託することがあります。
</p>

<h4>個人情報に関するお問い合わせ</h4>
<p>
    開示、訂正、利用停止等のお申し出があった場合には、所定の方法に基づき対応致します。
    具体的な方法については、個別にご案内しますので、お問い合わせください。
</p>

<h4>Cookie（クッキー）</h4>
<p>
    Cookie（クッキー）は、利用者のサイト閲覧履歴を、
    利用者のコンピュータに保存しておく仕組みです。
</p>
<p>
    利用者はCookie（クッキー）を無効にすることで収集を拒否することができますので、
    お使いのブラウザの設定をご確認ください。
    ただし、Cookie（クッキー）を拒否した場合、
    当サイトのいくつかのサービス・機能が正しく動作しない場合があります。
</p>

<h4>アクセス解析</h4>
<p>
    当サイトでは、
    サイトの分析と改善のためにGoogleが提供している「Google アナリティクス」を
    利用しています。
</p>
<p>
    このサービスは、トラフィックデータの収集のためにCookie（クッキー）を使用しています。
    トラフィックデータは匿名で収集されており、個人を特定するものではありません。
</p>

<!-- 
<h4>広告配信</h4>
<p>
    当サイトは、第三者配信の広告サービス「Google アドセンス」を利用しています。
</p>
<p>
    広告配信事業者は、
    利用者の興味に応じた広告を表示するためにCookie（クッキー）を使用することがあります。
    これによって利用者のブラウザを識別できるようになりますが、
    個人を特定するものではありません。
</p>
<p>
    Cookie（クッキー）を無効にする方法や「Google アドセンス」に関する詳細は、
    <a href="https://policies.google.com/technologies/ads?gl=jp">こちら</a>をご覧ください。
</p>
<p>
    また、Amazonのアソシエイトとして、当サイトは適格販売により収入を得ています。
</p> -->


<h4>他サイトからの埋め込みコンテンツ</h4>
<p>
    当サイトには、埋め込みコンテンツ （動画、画像、投稿など）が含まれます。
    他サイトからの埋め込みコンテンツは、
    訪問者がそのサイトを訪れた場合とまったく同じように振る舞います。
</p>
<p>
    これらのサイトは、あなたのデータの収集、Cookie（クッキー）の使用、
    サードパーティによる追加トラッキングの埋め込み、
    埋め込みコンテンツとのやりとりの監視を行うことがあります。
</p>
<p>
    アカウントを使ってそのサイトにログイン中の場合、
    埋め込みコンテンツとのやりとりのトラッキングも含まれます。
</p>

<h4>免責事項</h4>
<p>
    当サイトのコンテンツ・情報について、
    可能な限り正確な情報を掲載するよう努めておりますが、
    正確性や安全性を保証するものではありません。
    当サイトに掲載された内容によって生じた
    損害等の一切の責任を負いかねますのでご了承ください。
</p>
<p>
    当サイトからリンクやバナーなどによって他のサイトに移動した場合、
    移動先サイトで提供される情報、サービス等について一切の責任を負いません。
</p>

<h4>著作権・肖像権</h4>
<p>
    当サイトで掲載しているすべてのコンテンツ（文章、画像、動画、音声、ファイル等）の
    著作権・肖像権等は当サイト所有者または各権利所有者が保有し、
    許可なく無断利用（転載、複製、譲渡、二次利用等）することを禁止します。
    また、コンテンツの内容を変形・変更・加筆修正することも一切認めておりません。
</p>
<p>
    各権利所有者におかれましては、万一掲載内容に問題がございましたら、
    ご本人様よりお問い合わせください。迅速に対応いたします。
</p>

<h4>リンク</h4>
<p>
    当サイトは原則リンクフリーです。リンクを行う場合の許可や連絡は不要です。
    引用する際は、引用元の明記と該当ページへのリンクをお願いします。
</p>
<p>
    ただし、画像ファイルへの直リンク、
    インラインフレームを使用したHTMLページ内で表示する形でのリンクはご遠慮ください。
</p>

<h4>お問い合わせ先</h4>
<p>
    <a href="{{ url_for('contact') }}">こちら</a>に記載されています。
</p>

<h4>本プライバシーポリシーの変更</h4>
<p>
    当サイトは、本プライバシーポリシーの内容を適宜見直し、その改善に努めます。
</p>
<p>
    本プライバシーポリシーは、事前の予告なく変更することがあります。
</p>
<p>
    本プライバシーポリシーの変更は、当サイトに掲載された時点で有効になるものとします。
</p>


<h3 id="update">更新履歴</h3>
<p>
    更新履歴は<a href="https://github.com/glyzinieh/NePriS/commits/main/templates/tos.html">Github</a>でご確認いただけます。
</p>
<p>
    制定：2022年6月10日<br>
    改定：2022年6月14日
</p>

{% endblock %}