{% extends "layout.html" %}

{% block title %}Work{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-5">
        <img src="{{ url_for('send_temp',path=result['image']) }}" width="100%" height="auto">
    </div>
    <div class="col-md-6 col-md-offset-1">
        <h2>{{ result['title'] }}</h2>
        <p>
            <i class="bi bi-person-fill"></i> {{ result['name'] }}<br>
            <i class="bi bi-calendar-range"></i> {{ result['date'] }}
        </p>
        <div id="note" class="bg-light rounded border border-1 my-3"></div>
        <dl class="row">
            <dt class="col-md-4"><span style="color: orange;">セブンイレブン</span></dt>
            <dd class="col-md-8 align-middle">{{ result['no_seven'] }}</dd>
            <dt class="col-md-4">
                <span style="color: lightgreen;">ファミリーマート</span><br>
                <span style="color: lightskyblue;">ローソン</span>
            </dt>
            <dd class="col-md-8 align-middle">{{ result['no_family'] }}</dd>
        </dl>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script>
            document.getElementById('note').innerHTML = marked.parse(`{{ result['note'] }}`);
        </script>
    </div>
</div>
{% endblock %}