{% extends "layout.html" %}

{% block page_title %}Work{% endblock %}
{% block title %}Work{% endblock %}

{% block head %}
<meta name="description" content="
{{ result['note'] }}
">
<meta property="og:url" content="{{ url_for('work', id=result['id'], _external=True) }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ result['note'] }}" />
<meta property="og:image" content="{{ url_for('get_img',filename=result['image'], _external=True) }}" />
<meta name="twitter:description" content="{{ result['note'] }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{{ url_for('get_img',filename=result['image']) }}" class="img-fluid rounded border border-1">
    </div>
    <div class="col-md-6 col-md-offset-1">
        <h2>{{ result['title'] }}</h2>
        <p>
            <i class="bi bi-person-fill"></i> {{ result['name'] }}<br>
            <i class="bi bi-calendar-range"></i> {{ result['date'] }}まで
        </p>
        {% if result['note'] != '' %}
            <div id="note" class="bg-light rounded border border-1 my-3"></div>
            <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
            <script>
                document.getElementById('note').innerHTML = marked.parse(`{{ result['note'] }}`);
            </script>
        {% endif %}
        <dl class="row">
            <dt class="col-md-4"><span style="color: orange;">セブンイレブン</span></dt>
            <dd class="col-md-8 align-middle">{{ result['no_seven'] }}</dd>
            <dt class="col-md-4">
                <span style="color: lightgreen;">ファミリーマート</span><br>
                <span style="color: lightskyblue;">ローソン</span>
            </dt>
            <dd class="col-md-8 align-middle">{{ result['no_family'] }}</dd>
        </dl>
    </div>
</div>
<style>
    .img-fluid {
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: contain;
    }
</style>
{% endblock %}