{% extends "layout.html" %}

{% block title %}{{ result['title'] }}{% endblock %}

{% block head %}
<meta name="description" content="
{{ result['note'] }}
">
<meta property="og:url" content="{{ url_for('work', id=result['id'], _external=True) }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ result['title'] }}" />
<meta property="og:description" content="{{ result['note'] }}" />
<meta property="og:image" content="{{ url_for('get_og_img',filename=result['image'], _external=True) }}" />
<meta name="twitter:description" content="{{ result['note'] }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{{ url_for('get_img',filename=result['image']) }}" class="img-fluid rounded border border-1">
    </div>
    <div class="col-md-6 col-md-offset-1">
        <h2>{{ result['title'] }}</h2>
        <p>
            <i class="bi bi-person-fill"></i> {{ result['name'] }}<br>
            <i class="bi bi-calendar-range"></i> {{ result['date'] }}まで
        </p>
        {% if result['note'] != '' %}
        <div id="note" class="bg-light rounded border border-1 my-3"></div>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script>
            document.getElementById('note').innerHTML = marked.parse(`{{ result['note'] }}`);
        </script>
        {% endif %}
        <dl>
            <dt><span style="color: orange;">セブンイレブン</span></dt>
            <dd>{{ result['no_seven'] }}</dd>
            <dt>
                <span style="color: lightgreen;">ファミリーマート</span>・<span style="color: lightskyblue;">ローソン</span>
            </dt>
            <dd>{{ result['no_family'] }}</dd>
        </dl>
        <div class="btn-group d-flex" role="group">
            <a class="btn btn-twitter flex-fill"
                href="https://twitter.com/share?url={{ url_for('work', id=result['id'], _external=True) }}&via=NePr1S&related=NePr1S&hashtags=NePriS,nepris{{ result['id'] }}&text={{ result['title'] }}"
                rel="nofollow" target="_blank" role="button"><i class="bi bi-twitter"></i></a>
            <a class="btn btn-facebook flex-fill"
                href="http://www.facebook.com/share.php?u={{ url_for('work', id=result['id'], _external=True) }}"
                rel="nofollow" target="_blank" role="button"><i class="bi bi-facebook"></i></a>
            <a class="btn btn-line flex-fill"
                href="https://social-plugins.line.me/lineit/share?url={{ url_for('work', id=result['id'], _external=True) }}"
                rel="nofollow" target="_blank" role="button"><i class="bi bi-line"></i></a>
            <a class="btn btn-dark flex-fill"
                href="javascript:copy_url_to_clipboard();"
                role="button"><i class="bi bi-link-45deg"></i></a>
        </div>
    </div>
</div>
<style>
    .img-fluid {
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: contain;
    }
</style>
<script>
    function copy_url_to_clipboard(){
        navigator.clipboard.writeText("{{ url_for('work', id=result['id'], _external=True) }}");
        alert("リンクをクリップボードにコピーしました。");
    }
</script>
{% endblock %}